<!DOCTYPE html> 
<html> 
	<head> 
		<title>YourLib</title> 
	</head> 
	<body> 

		<h1>Hello admin !</h1> 
		<h3> <u>OPTIONS:</u></h3>

        <ul>
            <li><a href="/create"> Add a book  </a></li> 
            <li><a href="/read"> Check records </a></li> 
            <li><a href="/update"> Update record </a></li> 
            <li><a href="/delete"> Delete record</a></li> 
            <li><a href="/accread"> Check account </a></li>
            <li><a href="/remacc"> Remove account</a></li> 
            <li><a href="/"> Logout </a></li>
        </ul>
 
	</body> 
</html> 
